*

# /

!.gitignore
!symlinks.sh
!starship.toml


#kitty

!/kitty
!kitty.conf


#fish

!/fish
!config.fish
!bling.sh
!bunnyfetch


#micro

!/micro
!settings.json
!bindings.json
!micro/plug/
!micro/plug/fish/
!micro/plug/fish/*
!micro/plug/fish/help/
!micro/plug/fish/help/*
!micro/plug/wc/
!micro/plug/wc/*
!micro/plug/wc/help/
!micro/plug/wc/help/*


#mpv

!/mpv
!input.conf
!mplayer-input.conf
!mpv.conf
!/mpv/scripts/
!/mpv/scripts/*


#nimdow

!/nimdow
!config.toml


#rofi

!/rofi
!config.rasi


#sxhkd

!/sxhkd
!sxhkdrc
